<script>
    $(document).ready(function () {
        {{!-- let $blah = $("#blah"); --}}
        {{!-- let $bookList = $("#book-list"); --}}
        let $starRatings = $(".star-rating");
        let $images = $(".book-block img");
        let isbns = [];
        $images.each(function () {
            isbns.push($(this).data("isbn"));
        });
        let apiUrl = `https://openlibrary.org/api/books?bibkeys=${isbns.join(",")}&format=json`;
        $starRatings.each(function () {
            let $this = $(this);
            let starRating = $this.data("avg-rating");
            updateRating($this, starRating);
        });

        $.getJSON(apiUrl, function (data) {
            console.log(data);
            $(".book-thumbnail").each(function () {
                let $this = $(this);
                let isbn = $this.attr("data-isbn");
                if (data[isbn]) {
                    $this.attr("src", data[isbn].thumbnail_url);
                }
            });
        });

        function updateRating(ratingElement, rating) {
            let newRating = ""
            for (var i = 0; i < 5; i++) {
                if (i < rating) {
                    newRating += "<span class=\"fa fa-star checked-star\" data-rating=\"" + (i + 1) + "\"></span>";
                } else {
                    newRating += "<span class=\"fa fa-star\" data-rating=\"" + (i + 1) + "\"></span>";
                }
            }
            ratingElement.html(newRating);
        }

        $(".star-rating").on("click", ".fa-star", function (event) {
            let $this = $(this);
            let rating = $this.data("rating");
            let $ratingP = $this.parent();
            let bookId = $ratingP.data("book-id");
            $.post("/api/rating", { bookId: bookId, rating: rating }, function () {
                updateRating($ratingP, rating);
            });
        });

        $(".add-to-library").on("click", function(event) {

            let $this = $(this);
            event.preventDefault();
            let bookId = $this.data("book-id");
            $.post("/api/bookshelf/add", {bookId: bookId}, function() {
                let parent = $this.parent();
                $this.text("Book Added");
                $this.addClass("w3-disabled");
                console.log("book added");
            });
        });

    });
</script>