body {
  font: sans-serif;
}

.navbar {
  background-color: #0f0c30;
  color: white;
}
#srch-btn {
  background-color: orange;
  color: black;
  border: none;
  color: white;
  font-weight: bold;
}
#srch-bar {
  margin: 15px;
}
#account-btns {
  margin: 15px;
}
#welcome-message {
  margin: 15px;
}
#review-submit {
  background-color: orange;
  color: black;
  border: none;
  color: white;
  font-weight: bold;
}
.brand-title {
  margin: 10px;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Girassol', cursive;
}
.sch-bar {
  margin: 15px;
}
.bar-two {
  margin: 10px;
  margin-right: 10px;
  background-color: #153144;
  font-family: sans-serif;
}

.bar-three {
  margin: 10px;
  margin-right: 10px;
  background-color: #0f0c30;
  color: white;
  text-align: center
  font-family: sans-serif;
}

#b3-head {
  text-align: center;
  margin-left: 10px;
}
.bar-two-tabs {
  color: white;
  font-weight: bold;
}
.images {
  margin: 10px;
}

.side-section {
  float: right;
  background-color: rgb(247, 244, 244);
  margin-top: 10px;
  
}
.feature {
  margin: 8px;
  font-weight: bold;
  background: white;
  padding: 5px;
  border: black;
}
.book-preview {
  margin: 5px;
  font-weight: bold;
  /* background: lightgrey; */
  padding: 5px;
}
.checked {
  color: orange;
}
#reviews {
  text-align: center;
  margin: 30px;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
}
.review-box {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px; 
}
.username {
  font-size: 18px;
  color: #153144;
  font-weight: bolder;
}
.review-form-section,
.reviews-section {
  margin-left: 5%;
  margin-right: 5%;
}
.review-card-head {
  background-color: #0f0c30;
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.review-input {
  margin: 5px;
}
#review-submit {
  background-color: orange;
  color: black;
  border: none;
  color: white;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.review-bar {
  background-color: #0f0c30;
  color: white;
  margin: 0px;

}

.rs {
  margin-left: 20px;
  margin-right: 20px;
}

#login-submit {
  background-color: orange;
  color: black;
  border: none;
  color: white;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.or-link {
  margin-left: 20px;
}
footer {
  height: 40px;
  width: 100%;
  background-color: #0f0c30;
  border-top: 1.3px solid white;
  text-shadow: 0px 0px 5px black;
  position: fixed;
  bottom: 0;
  text-align: center;
  line-height: 20px;
  letter-spacing: 10px;
  font-size: 12px;
  color: lightgrey;
  background-position: center;
  padding-top: 10px;
}
.slick-next {
  background-color: white;
  margin-right: 20px;
}
.slick-prev {
  background-color: white;
  margin-left: 20px;
}
.last-section {
  padding-bottom: 80px;
  background-color: rgb(247, 244, 244);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.orangeText {
  color: orange;
}

.rating {
  float:left;
  width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
  position:absolute;
  top:0px;
  left:0px;
  opacity:0;
}
.rating span label {
  display:inline-block;
  width:30px;
  height:30px;
  text-align:center;
  color:#FFF;
  background:#ccc;
  font-size:30px;
  margin-right:2px;
  line-height:30px;
  border-radius:50%;
  -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
  background:#F90;
  color:#FFF;
}

.book-category, #category-head {

  text-align: right;
  padding-right: 10px;
}

#category-head {
  color: #153144;
  font-weight: bolder;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  /* font-size: 30px; */
  text-align: center;
}

.checked-star {
    color: orange;
}


.book-thumbnail {
  margin-bottom: 5px;;

.teal-btn {
  background-color: #153144;
  color: black;
  border: none;
  color: white;
  font-weight: bold;
  margin: 3px;

}