.navbar {
  background-color: #0f0c30;
  color: white;
}
#srch-btn {
  background-color: orange;
  color: black;
  border: none;
  color: white;
  font-weight: bold;
}
#srch-bar {
  margin: 15px;
}
#account-btns {
  margin: 15px;
}
#welcome-message {
  margin: 15px;
}
#review-submit {
  background-color: orange;
  color: black;
  border: none;
  color: white;
  font-weight: bold;
}
.brand-title {
  margin: 10px;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Girassol', cursive;
}
.sch-bar {
  margin: 15px;
}
.bar-two {
  margin: 10px;
  margin-right: 10px;
  background-color: #153144;
}
.bar-two-tabs {
  color: white;
  font-weight: bold;
}
.images {
  margin: 10px;
}
.section-size {
  margin: 10px;
  margin-top: 50px;
}
.carousel {
  /* background-color: rgb(223, 219, 219); */
  height: 150px;
}
.side-section {
  text-align: center;
  background-color: rgb(223, 219, 219);
  /* width: 300px; */
}
.rt-aside {
  float: right;
  background-color: lightgrey;
}
.feature {
  margin: 5px;
  font-weight: bold;
  background: white;
  padding: 5px;
  border: black;
}
.book-preview {
  margin: 5px;
  font-weight: bold;
  /* background: lightgrey; */
  padding: 5px;
}
.checked {
  color: orange;
}
#reviews {
  text-align: center;
  margin: 30px;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
}
.review-box {
  border: 1px solid black;
  padding: 10px;
}
.username {
  font-size: 18px;
  color: #153144;
  font-weight: bolder;
}
.review-form-section,
.reviews-section {
  margin-left: 5%;
  margin-right: 5%;
}
.review-card-head {
  background-color: #0f0c30;
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.review-input {
  margin: 5px;
}
#review-submit {
  background-color: orange;
  color: black;
  border: none;
  color: white;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.review-bar {
  background-color: #0f0c30;
  color: white;
}
#login-submit {
  background-color: orange;
  color: black;
  border: none;
  color: white;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.or-link {
  margin-left: 20px;
}
footer {
  height: 40px;
  width: 100%;
  background-color: #0f0c30;
  border-top: 1.3px solid white;
  text-shadow: 0px 0px 5px black;
  position: fixed;
  bottom: 0;
  text-align: center;
  line-height: 20px;
  letter-spacing: 12px;
  font-size: 12px;
  color: rgb(58, 53, 53);
  background-position: center;
}
.slick-next,
.slick-prev {
  background-color:gray !important;
}
