.navbar {
  background-color: #0f0c30;
  color: white;
}

#srch-btn {
  background-color: orange;
  color: black;
  border: none;
  color: white;
  font-weight: bold;
}

#srch-bar {
  margin: 15px;
}

#review-submit {
  background-color: orange;
  color: black;
  border: none;
  color: white;
  font-weight: bold;
}

.brand-title {
  margin: 10px;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Girassol', cursive;
}

.sch-bar {
  margin: 15px;
}

.bar-two {
  margin: 10px;
  margin-right: 10px;
  background-color: #153144;
}

.bar-two-tabs {
  color: white;
  font-weight: bold;
  /* margin-left: 20px;
  margin-right: 20px; */
}
.images {
  margin: 10px;
}