<h1>Library Page</h1>
<h2 id="blah"></h2>
<div class="grid-container book-list">
    {{#each books}}
        {{> books/library-book-block}}
    {{/each}}
</div>

{{> replacer-script}}
{{> user-login-script}}

