<article class="bar-three">
    <h3 class="b3-head w3-center">Library Page</h3>
</article>
<h2 id="blah"></h2>
<div class="grid-container book-list">
    {{#each books}}
    {{> books/library-book-block}}
    {{/each}}
</div>

{{> replacer-script}}
{{> user-login-script}}