<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Book Line and Sinker Reviews</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet prefetch"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Girassol&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <h1 class="brand-title">Book, Line, & Sinker</h1>
        <!-- navbar items, navbar burger... -->
      </div>
      <div class="field is-grouped is-pulled-right sch-bar">
        <p class="control">
          <input class="input is-small" type="text" placeholder="Search" />
        </p>
        <p class="control">
          <a class="button is-small" id="srch-btn">
            Search
          </a>
        </p>
      </div>
    </nav>

    <article class="panel is-info bar-two">
      <p class="panel-tabs">
        <a href="./index.html" class="bar-two-tabs">My Library</a>
        <a href="" class="bar-two-tabs">Explore</a>
        <a href="./reviews.html" class="bar-two-tabs">Reviews</a>
      </p>
    </article>

    <section class="container reviews is is-grouped">
      <article class="panel panel-review">
        <p id="reviews">Reviews</p>
      </article>
      <div class="review-box">
        <h3 class="username">Username:</h3>
        <h3 class="username">Review:</h3>
        <p class="userreview">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
    </section>
<br>
    <section class="review-form">
        <article class="panel panel-review">
            <p id="reviews">Submit your book review</p>
          </article>
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" />
        </div>
      </div>

      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="text"
            placeholder="Text input"
            value="username"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <!-- <i class="fas fa-check"></i> -->
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="email"
            placeholder="Email input"
            value="email"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <!-- <i class="fas fa-exclamation-triangle"></i> -->
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Review</label>
        <div class="control">
          <textarea class="textarea" placeholder="Enter review here"></textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button" id="review-submit">Submit</button>
        </div>
      </div>
    </section>

    <script src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>

    <script></script>
  </body>
</html>
