

  <div class="w3-card-4">
    <div class="w3-container review-card-head">
      <h4>Submit your book review</h4>
    </div>
    <div class="search-result">
      {{#each bookResult}}
    </div>
  </div>
